### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data.loc[:, ["Gender","SN", "Age"]]
total_players = total_players.drop_duplicates()
num_of_players = total_players.count()[0]
num_of_players
total_players_dsply = pd.DataFrame({"Total Players" : [num_of_players]})
total_players_dsply

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data["Item Name"].value_counts()
unique_items
avg_price = purchase_data["Price"].mean()
total_purchases = purchase_data["Price"].count()
total_rev = purchase_data["Price"].sum()

pa_display = pd.DataFrame({'Unique Items':[len(unique_items)], 'Average Price':[avg_price], 'Total Purchases':[total_purchases], 'Total Revenue':[total_rev]})
pd.options.display.float_format = '${:,.2f}'.format
pa_display

   Unique Items  Average Price  Total Purchases  Total Revenue
0           179          $3.05              780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Gender Count
genders = purchase_data.groupby(['Gender'])
genders_df = pd.DataFrame({"Total":genders['SN'].nunique()})
genders_df = genders_df.sort_values("Total", ascending=False)


#Percentage of players by gender
all_players = len(total_players)
genders_df["Percentage of Players"] = genders_df["Total"] / all_players * 100
genders_df["Percentage of Players"] = genders_df["Percentage of Players"].map("{:.2f}%".format)
genders_df

                       Total Percentage of Players
Gender
Male                     484                84.03%
Female                    81                14.06%
Other / Non-Disclosed     11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchases_total = purchase_data.groupby(['Gender']).sum()['Price'].rename('Total Purchases')
purchases_avg = purchase_data.groupby(['Gender']).mean()['Price'].rename('Average Purchase')
purchases_count = purchase_data.groupby(['Gender']).count()['Price'].rename('Purchase Count')

# Average_Total
average_total = purchases_total/genders_df['Total']
avg_total_df = pd.DataFrame({"Purchase Count": purchases_count,"Total Purchase Value": purchases_total, "Average Purchase Price": purchases_avg,  "Average Total Purchase per Person": average_total}) 
avg_total_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Average Total Purchase per Person
Gender,,,,
Female,113,$361.94,$3.20,$4.47
Male,652,"$1,967.64",$3.02,$4.07
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 44.9, 49.9, 9999999999.9]
age_group = ["<10", "10-15"]

In [6]:
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99999999999999.9]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Ranges"] = pd.cut(total_players['Age'], age_bins, labels = age_group)

# Calculate the numbers and percentages by age group
age_group_total = purchase_data["Age Ranges"].value_counts()
age_group_percent = age_group_total / num_of_players * 100
age_group_df = pd.DataFrame({"Total Count": age_group_total, "Percentage of Players": age_group_percent.map("{:.2f}%".format)})
                                                                                                           
age_group_df = age_group_df.sort_index()
age_group_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Bin the purchase_data data frame by age
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99999999999999.9]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=age_group)

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchase_count = purchase_data.groupby(["Age Ranges"]).count()["Price"]
purchase_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [8]:
average_purchase = purchase_data.groupby(["Age Ranges"]).mean()["Price"]
average_purchase

Age Ranges
<10     $3.35
10-14   $2.96
15-19   $3.04
20-24   $3.05
25-29   $2.90
30-34   $2.93
35-39   $3.60
40+     $2.94
Name: Price, dtype: float64

In [9]:
total_purchase = purchase_data.groupby(["Age Ranges"]).sum()["Price"]
total_purchase

Age Ranges
<10        $77.13
10-14      $82.78
15-19     $412.89
20-24   $1,114.06
25-29     $293.00
30-34     $214.00
35-39     $147.67
40+        $38.24
Name: Price, dtype: float64

In [10]:
average_per_person = total_purchase / purchase_data.groupby(["Age Ranges"]).nunique()["SN"]
average_per_person

Age Ranges
<10     $4.54
10-14   $3.76
15-19   $3.86
20-24   $4.32
25-29   $3.81
30-34   $4.12
35-39   $4.76
40+     $3.19
dtype: float64

In [11]:
#Create a summary data frame to hold the results
age_group_analysis = pd.DataFrame({'purchase count': purchase_count, 
                                   'avg. purchase price': average_purchase,
                                   'purchase total per person': total_purchase,
                                   'avg per person': average_per_person})

                                                                               
age_group_analysis = age_group_analysis.sort_index()
age_group_analysis

,purchase count,avg. purchase price,purchase total per person,avg per person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
player_count = purchase_data.groupby(["SN"]).count()["Price"]
player_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Price, Length: 576, dtype: int64

In [13]:
player_total = purchase_data.groupby(["SN"]).sum()["Price"]
player_total

SN
Adairialis76    $2.28
Adastirin33     $4.48
Aeda94          $4.91
Aela59          $4.32
Aelaria33       $1.79
                 ...
Yathecal82      $6.22
Yathedeu43      $6.02
Yoishirrala98   $4.58
Zhisrisu83      $7.89
Zontibe81       $8.03
Name: Price, Length: 576, dtype: float64

In [14]:
player_average = purchase_data.groupby(["SN"]).mean()["Price"]
player_average

SN
Adairialis76    $2.28
Adastirin33     $4.48
Aeda94          $4.91
Aela59          $4.32
Aelaria33       $1.79
                 ...
Yathecal82      $2.07
Yathedeu43      $3.01
Yoishirrala98   $4.58
Zhisrisu83      $3.94
Zontibe81       $2.68
Name: Price, Length: 576, dtype: float64

In [15]:
per_player_data = pd.DataFrame({'Purchase Count': player_count, 
                               'Average Purchase Price' : player_average,
                               'Total Purchase Value' : player_total})
                                                                     

per_player_data.sort_values("Total Purchase Value", ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame